*{
  margin: 0;
  padding: 0;
/*  border: 1px solid red;*/
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
html, body {
  width: 100%;
  height: 100%;  /*vh*/
/*  background-color: black;*/
/*  background-color: white;*/
}
.dark-html {
  background-color: black;

}
.dark-article {
  color: white;
}
.dark-i {
  background-color: black;
  color: white;
}

.switch {
  position: fixed;
  margin: 1.4em;
  padding: 0em;
  width: 40px;
  height: 12px;
  right: 0;
  z-index: 1;
}

i{
  background-color: white;
}

.footer-item h3 {
  font-family: poppins;
  font-size: 22px;
  font-weight: 400;
  color: black;
  padding-bottom: 5px;



}
.footer-item ul {  
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
  font-family: poppins;

}
.footer-item li {
  font-weight: 300;
  font-size: 16px;
  color: black;
  letter-spacing: 0.03em;
}
.footer-identity h3{
  font-family: poppins;
  font-size: 22px;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
}
.footer-identity ul {
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
  font-family: poppins;
}
.footer-identity li {
  font-weight: 300;
  font-size: 13px;
  color: black;
  letter-spacing: 0.03em; 
}
a {
  color: black;
 text-decoration: none;
}
a:hover {
    color: #557a95;
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background: var(--primary-color) url('video/landingvid.mp4') no-repeat center
  center/cover;
  scroll-snap-align: start; 
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
/*  background: rgba(0, 0, 0, 0.5);*/
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}


.noselect {
  z-index: 0;
  -webkit-touch-callout: none;
 /* iOS Safari */
  -webkit-user-select: none;
 /* Safari */
  -khtml-user-select: none;
 /* Konqueror HTML */
  -moz-user-select: none;
 /* Firefox */
  -ms-user-select: none;
 /* Internet Explorer/Edge */
  user-select: none;
 /* Non-prefixed version, currently
                                  supported by Chrome and Opera */;
}
.indicator{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  

}
.indicator span{
  display: block;
  width: 40px;
  height: 40px;
/*  background: rgba(255, 255, 255, 100);*/
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2.5s infinite;

}
.indicator span:nth-child(2)
{
  animation-delay: -0.25s;
}

.indicator span:nth-child(3)
{
  animation-delay: -0.5s;
}

@keyframes animate{
  
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.mtitle {
  position: absolute;
  font-family: "poppins";
  font-weight: 600;
  font-size: 34vmin;
  color: white;
  top: 30vmin;
  left: 0%;
/*  background: rgba(0, 0, 0, 0.4); */

}
.cities {

/*  background: rgba(255, 255, 255, 0.4); */
  font-family: "poppins"; 
  font-weight: 400;
  pointer-events: none;
/*  color: black;*/
  font-size: 12vw;
}
.description {
  position: absolute;
  font-family: "consolas";
  font-weight: 500;
/*  background: rgba(255, 255, 255, 0.4); */
/*  color: black;*/
  font-size: 2.5vmax;
 pointer-events: none;
}


.title1 {
  position: absolute;
  top: 100vh;
  left: 35%;
}

.title2 {
  position: absolute;
  top: 200vh;
  left: 35%;
}

.title3 {
  position: absolute;
  top: 300vh;
  left: 35%;
}

.title4 {
  position: absolute;
  top: 400vh;
  left: 35%;
}

.title5 {
  position: absolute;
  top: 500vh;
  left: 35%;
}

.des1 {

  width: 65%;
  top: 145vh;
  left: 35%;
}

.des2 {

  width: 65%;
  top: 245vh;
  left: 35%;
}

.des3 {

  width: 65%;
  top: 345vh;
  left: 35%;
}

.des4 {

  width: 65%;
  top: 445vh;
  left: 35%;
}

.des5 {

  width: 65%;
  top: 545vh;
  left: 35%;
}


#box1 {
  background-image: url("image/BurjKhalifaExterior.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: center; 



}

#box2 {
  background-image: url("image/ShanghaiTowerExterior.png");  
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 200vh;
  left: 0;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: center; 


}

#box3 {
  background-image: url("image/MeccaRoyalExterior.png");

  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 300vh;
  left: 0;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: center; 


}

#box4 {
  background-image: url("image/PingAnExterior.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 400vh;
  left: 0;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: center; 


}

#box5 {
  background-image: url("image/LotteWorldExterior.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 500vh;
  left: 0;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: center; 
}

#box6 {
  background-image: url("image/compare.png") ;
  background-color: #f8f8ff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 260px;
  width: 100%;
  position: absolute;
  top: 600vh;
  filter: grayscale(1);
  transition: 0.5s;
  scroll-snap-align: end; 

}



video {
  transition: 3s opacity;
}

#box1:hover {
  filter: grayscale(0);
}

#box2:hover {
  filter: grayscale(0);
}

#box3:hover {
  filter: grayscale(0);
}

#box4:hover {
  filter: grayscale(0);
}

#box5:hover {
  filter: grayscale(0);
}

.footer-item {
  position: absolute;
  top: 606vh;
  left: 1vw;
  width: auto;
  height: auto;
}
.footer-identity {
  position: absolute;
  top: 606vh;
  right: 1vw;
  width: 170px;
  height: auto;
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-device-width: 320px) {
.mtitle {
  top: 40%;
  }
.des1{

  left: 0%;
  }
.des2{

  left: 0%;
  }
.des3{

  left: 0%;
  }
.des4{

  left: 0%;
  }
.des5{

  left: 0%;
  }
.title1{

  left: 0%;
  }
.title2{

  left: 0%;
  }
.title3{

  left: 0%;
  }
.title4{

  left: 0%;
  }
.title5{

  left: 0%;
  }
#box1 {
  background-size: cover;
  }
#box2 {
  background-size: cover;
  }
#box3 {
  background-size: cover;
  }
#box4 {
  background-size: cover;
  }
#box5 {
  background-size: cover;
  } 
.description{
  font-size: 15px;

  }
.cities {
  font-size: 50px;

  }

}
/* large phone */
@media only screen 
and (min-device-width : 321px) 
and (max-device-width : 375px){
.mtitle {
  top: 37%;
  }
.des1{

  left: 0%;
  }
.des2{

  left: 0%;
  }
.des3{

  left: 0%;
  }
.des4{

  left: 0%;
  }
.des5{

  left: 0%;
  }
.title1{

  left: 0%;
  }
.title2{

  left: 0%;
  }
.title3{

  left: 0%;
  }
.title4{

  left: 0%;
  }
.title5{

  left: 0%;
  }
#box1 {
  background-size: cover;
  }
#box2 {
  background-size: cover;
  }
#box3 {
  background-size: cover;
  }
#box4 {
  background-size: cover;
  }
#box5 {
  background-size: cover;
  } 
.description{
  font-size: 16px;

  }
.cities {
  font-size: 55px;

  }
}
@media only screen 
and (min-device-width : 376px) 
and (max-device-width : 540px){
.mtitle {
  top: 37%;
  }
.des1{

  left: 0%;
  }
.des2{

  left: 0%;
  }
.des3{

  left: 0%;
  }
.des4{

  left: 0%;
  }
.des5{

  left: 0%;
  }
.title1{

  left: 0%;
  }
.title2{

  left: 0%;
  }
.title3{
  left: 0%;
  }
.title4{

  left: 0%;
  }
.title5{

  left: 0%;
  }
#box1 {
  background-size: cover;
  }
#box2 {
  background-size: cover;
  }
#box3 {
  background-size: cover;
  }
#box4 {
  background-size: cover;
  }
#box5 {
  background-size: cover;
  } 
.description{
  font-size: 17px;

  }
.cities {
  font-size: 60px;

  }
}  


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
.mtitle {
  top: 27%;

 }
#box1 {
  background-size: cover;
  }
#box2 {
  background-size: cover;
  }
#box3 {
  background-size: cover;
  }
#box4 {
  background-size: cover;
  }
#box5 {
  background-size: cover;
  }
.des1{

  left: 0%;
  }
.des2{

  left: 0%;
  }
.des3{
  left: 0%;
  }
.des4{

  left: 0%;
  }
.des5{

  left: 0%;
  }
.title1{

  left: 0%;
  }
.title2{

  left: 0%;
  }
.title3{

  left: 0%;
  }
.title4{
  left: 0%;
  }
.title5{
  left: 0%;
  }
.description{
  font-size: 25px;

  }
.cities {
  font-size: 100px;

  }
}



